# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace file
*.gw

# Go test binary
/test*

# Dependency directories
/vendor/

# Go module and sum files
go.mod
go.sum

# IDE or editor files
.idea/
.vscode/

# Build output
/build/
bin/
