# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace file
*.gw

# Go test binary
/test*

# Dependency directories
/vendor/


# IDE or editor files
.idea/
.vscode/

# Build output
/build/
bin/
